<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randika</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      id="app"
      class="h-screen flex flex-col items-center flex-col gap-y-4 justify-center bg-blue-100"
    >
      <div id="data">
        <ul v-for="(data, index) in makanan">
          {{index+1}} {{data.nama}} {{data.tipe}}
        </ul>
      </div>
      <div id="data">
        <ul v-for="(data, index) in minuman">
          {{index+1}} {{data.nama}} {{data.rasa}}
        </ul>
      </div>

      <button
        @click="generateMakanan()"
        type="button"
        class="text-white bg-green-500 hover:bg-green-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
      >
        List Makanan
      </button>
      <button
        @click="generateMinuman()"
        type="button"
        class="text-white bg-green-500 hover:bg-green-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
      >
        List Minuman
      </button>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
