<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randika web</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app" class="flex items-center justify-center width-auto h-screen flex-col ap-y-4>
      <section>
        <img id="image" src="" alt="" />
        <h1>{{kegiatan}}</h1>
        <ul class="bg-green 400"
        v-for="(kegiatan,index) in dataKegiatan" :key="index">
        <li class="flex bg-green-300 w-20 h-10 items-center justify-center m-2">{{kegiatan}}
            <span @click="hapusKegiatan(index)" class="text-red-600 font-bold cursor-pointer p-2">X</span>
      </ul></li> 

      </section>
      <br />
      <section >
      <input v-model="kegiatan"
        class="border-[1px] rounded-full hover:drop-shadow-md hover:border-white focus:outline-none"
        id="input"
        type="text"
        placeholder="Masukkan kegiatan"
      />
      <button 
       onclick="tambahKegiatan()" id="btn-2">Tambah</button>
    </div>
   
    <script src="./index.js"></script>
  </body>
</html>
